In [21]:
#!pip install psycopg2-binary
import pandas as pd
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import pandas as pd
import numpy as np
import requests
from datetime import datetime
from sqlalchemy import create_engine
import plotly.express as px  # (version 4.7.0)
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [22]:
user = "postgres"
password = "zaFUa6XbhxjRQKp3nEKd"
host = "dataviz-project2.cx41ow9tqpnq.us-east-2.rds.amazonaws.com"
port = "5432"
db = "postgres"
uri = f"postgresql://{user}:{password}@{host}:{port}/{db}"
uri

# uri= "sqlite:///db/covid19.sqlite"

'postgresql://postgres:zaFUa6XbhxjRQKp3nEKd@dataviz-project2.cx41ow9tqpnq.us-east-2.rds.amazonaws.com:5432/postgres'

In [23]:
engine = create_engine(uri)
conn = engine.connect()

In [5]:
### Pull data from sources and read into dataframes ###

#John Hopkins data
url1= "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv"
url2= "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_US.csv"
#European CDC data
url3= "https://opendata.ecdc.europa.eu/covid19/casedistribution/csv"

#John Hopkins data

us_confirmed=pd.read_csv(url1)
us_deaths= pd.read_csv(url2)

#European CDC data
ecdc = pd.read_csv(url3)

#ARCGIS API data
#request data from web serve, returns COVID-19 data from web service in JSON format
raw= requests.get("https://services1.arcgis.com/0MSEUqKaxRlEPj5g/arcgis/rest/services/Coronavirus_2019_nCoV_Cases/FeatureServer/1/query?where=1%3D1&outFields=*&outSR=4326&f=json")
raw_json = raw.json()
df = pd.DataFrame(raw_json["features"])
#convert dictionary to a list
data_list = df["attributes"].tolist()
#build a new dataframe
arcgis = pd.DataFrame(data_list)
#set "OBJECTID" as index for every record
arcgis.set_index("OBJECTID")
#reorder columns 
arcgis = arcgis[["Country_Region", "Province_State", "Lat", "Long_", "Confirmed", "Recovered", "Deaths", "Last_Update"]]
#preview tranformed data
# arcgis.head()

,Country_Region,Province_State,Lat,Long_,Confirmed,Recovered,Deaths,Last_Update
0,Italy,Abruzzo,42.351222,13.398438,3267,2275,453,1.591904e+12
1,Brazil,Acre,-9.023800,-70.812000,8746,4336,237,1.591904e+12
2,Russia,Adygea Republic,44.693901,40.152042,1213,674,12,1.591904e+12
3,Mexico,Aguascalientes,21.885300,-102.291600,1251,864,59,1.591904e+12
4,Japan,Aichi,35.035551,137.211621,512,465,34,1.591904e+12

In [ ]:
# us_confirmed.head(100)

In [25]:
us_deaths.head(10)

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,6/1/20,6/2/20,6/3/20,6/4/20,6/5/20,6/6/20,6/7/20,6/8/20,6/9/20,6/10/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,136,138,140,140,141,142,142,142,142,143
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,6,6,6,6,6,6,6,6,6,6
5,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,5,5,5,5,5,5,5,5,5,6
6,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,9,9,9,9,9,9,9,9,9,9
7,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,1,1,1,1,1,1,1,1,1,1
8,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,1,1,1,1,1,1,1,1,1,1
9,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1,1,1,1,1,1,1,1,1,1

In [ ]:
# ecdc.head()

In [ ]:
# len(us_confirmed_df["UID"].unique())

In [6]:
us_confirmed.to_sql("us_confirmed", conn, index=False, if_exists="replace")

In [16]:
engine.execute("ALTER TABLE us_confirmed ADD COLUMN ID SERIAL PRIMARY KEY;")

In [17]:
us_deaths.to_sql("us_deaths",conn, index=False, if_exists="replace")

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "us_death" does not exist

[SQL: ALTER TABLE us_death ADD COLUMN ID SERIAL PRIMARY KEY;]
(Background on this error at: http://sqlalche.me/e/f405)

In [18]:
engine.execute("ALTER TABLE us_deaths ADD COLUMN ID SERIAL PRIMARY KEY;")

In [19]:
ecdc.to_sql("ecdc",conn, index=False, if_exists="replace")
engine.execute("ALTER TABLE ecdc ADD COLUMN ID SERIAL PRIMARY KEY;")

In [24]:
arcgis.to_sql("arcgis",conn, index=False, if_exists="replace")
engine.execute("ALTER TABLE arcgis ADD COLUMN ID SERIAL PRIMARY KEY;")

In [ ]:
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy import Column, Integer, String, Float

# # ORM
# # Object Relational Map
# # help(Column)

# Base = declarative_base()
# class User(Base):
#     __tablename__ = "users" # required field
#     id = Column(Integer, primary_key=True)
#     first_name = Column(String(100))
#     last_name = Column(String(90))
#     phone = Column("Phone Number", String(100))
#     timezone = Column("Time zone", String(80))

# # Base.metadata.drop_all(conn)
# Base.metadata.create_all(conn) # CREATE TABLE IF EXISTS 

# df.to_sql(User.__tablename__, conn, index=False, if_exists="append")

# !open .

In [ ]:
import plotly.express as px
df = px.data.gapminder()
px.scatter(df, x="gdpPercap", y="lifeExp", animation_frame="year", animation_group="country",
           size="pop", color="continent", hover_name="country",
           log_x=True, size_max=55, range_x=[100,100000], range_y=[25,90])

In [ ]:
df

In [ ]:
us_confirmed

In [ ]:
# using sqlAchemy to query and read data into dataframes

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

In [ ]:
us_confirmed = Base.classes.us_confirmed

In [ ]:
columns = inspector.get_columns('us_confirmed')
for column in columns:
    print(column["name"], column["type"])

In [ ]:
session= Session(engine)

In [ ]:
result = session.query(us_confirmed).statement
us_confirmed_df = pd.read_sql_query(result, session.bind)

In [ ]:
us_confirmed_df.count()